.navbar {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 999;
  height: 7vh;
  width: 100%;
  background-color: #c4def6;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
}

#weather_text {
  padding-top: 1.5%;
}
