.section {
  position: relative;
  height: 50%;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 4vw;
  color: snow;
  text-shadow: 0 5px purple, 0 3px #130606;
}
header {
  position: relative;
  padding-top: 23%;
}

#top-pic {
  position: absolute;
  display: flex;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  max-height: 800px;
  filter: brightness(0.9);
}

.search_buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
  position: relative;
}
.btn {
  background: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5vw;
  cursor: pointer;
}
#id_address_autocomplete {
  min-height: 3vh;
  border-radius: 5px;
  text-align: center;
  min-width: 21vw;
}
.autocomplete-dropdown-container {
  position: absolute;
  min-width: 25vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 37px;
  left: 9.5%;
}
.datepicker {
  height: 4vh;
  border-radius: 5px;
  text-align: center;
}

.react-datepicker-container {
  width: unset;
}

#errorMessage {
  margin: auto;
  position: relative;
  margin-top: 5%;
}

#weather_error {
  text-align: center;
  font-weight: bold;
  padding-top: 2%;
  position: absolute;
  height: 5vh;
  width: 100%;
  background-color: #c4def6;
}
